<<<<<<< HEAD
<h2 class="page-header">Dashboard</h2>

<p>Welcome to dashboard</p>
<h3>Values</h3>

<table id="data-table">
    <div>
    <thead> 
        <th>Name</th> 
        <th>Email</th> 
        <th>Username</th> 
    </thead> 
    <tbody> 
        <h4>LOAD DATA<h4>
        {{#users}} 
        <tr>     
            <td>{{name}}</td> 
            <td>{{email}}</td> 
            <td>{{username}}</td> 
        </tr> 
        {{/users}} 
    </tbody> 
    </div>
  
</table> 

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="js/DataView.js"></script>

